@use "@parent/styles/theme/abstracts/variables" as *;
@use "@parent/styles/theme/abstracts/mixin" as *;

.block-shortcode-widget {
    padding: 8rem 0;

    @include maxWidth($sm) {
        padding: 4rem 0;
    }

    &__cols {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @include maxWidth($sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #fff;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);

            @include maxWidth($sm) {
                content: none;
            }
        }
    }

    .wp_phongthuy_form {
        border: none;
        box-shadow: none;
        background: transparent;
    }

    .form-title {
        display: inline-block;
        color: $secondColor;
        border-bottom: none;
        font-size: rem(24);

        @include maxWidth($xxl) {
            font-size: rem(18);
        }
    
        @include maxWidth($lg) {
            font-size: rem(16);
        }
    
        @include maxWidth($sm) {
            font-size: rem(14);
        }

        span {
            &::before {
                content: '';
                width: 100%;
                height: 4px;
                background-color: #fff;
                position: absolute;
                left: 0;
                bottom: -2px;
            }

            &:after {
                width: 30%;
                background-color: $secondColor;
            }
        }
    }

    .form-line {
        color: #fff;

        .label {
            margin-bottom: 5px;
            font-size: rem(18);

            @include maxWidth($xxl) {
                font-size: rem(16);
            }
    
            @include maxWidth($lg) {
                font-size: rem(14);
            }
        }

        input[type="button"] {
            height: auto;
            background-color: $secondColor;
            color: #191919;
            border: 2px solid $secondColor;
            border-radius: 2rem;
            padding: .4rem 1rem;
            line-height: 1;
            font-size: rem(18);
            font-weight: $bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #fff;
            }

            @include maxWidth($xxl) {
                font-size: rem(16);
            }
    
            @include maxWidth($lg) {
                font-size: rem(14);
            }
        }

        select {
            border-radius: 2rem;
            padding: .5rem 1rem;
            line-height: 1;
            font-size: 1rem;
        }
    }
}
